.App {
  text-align: center;
  position: relative;
}

.App__header-img {
  height: 70vh;
  pointer-events: none;
}

.App__header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.App__header-code {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 15px;
}
